{% extends "base.html.twig" %}

{% block body %}
    <h1>Styleguide</h1>
    <p>This page demonstrates some of the components that make up the design of this site</p>

    <h2>Messages</h2>
    <div class="message message--ok">
        <span class="icon-text">
            <span class="icon-text__icon">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"/>
                </svg>
            </span>
            <span class="icon-text__text">This is an ok message</span>
        </span>
    </div>
    <div class="message message--error">
        <span class="icon-text">
            <span class="icon-text__icon">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"/>
                </svg>
            </span>
            <span class="icon-text__text">This is an error message</span>
        </span>
    </div>
    <div class="message message--warning">
        <span class="icon-text">
            <span class="icon-text__icon">
                 <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z"/>
                 </svg>
            </span>
            <span class="icon-text__text">This is a warning message</span>
        </span>
    </div>
    <div class="message message--info">
        <span class="icon-text">
            <span class="icon-text__icon">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"/>
                </svg>
            </span>
            <span class="icon-text__text">This is an info message</span>
        </span>
    </div>
{% endblock %}
