.t-calendar {
  &__year {
    margin-bottom: $grid-unit;
  }
  &__year-title {
    font-weight: lighter;
    margin-bottom: $grid-unit;
  }

  &__months {
    @extend .list--unstyled;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-unit;
  }

  &__month {
    width: 100%;
    padding-left: $grid-unit;
    @media (min-width: 36em) {
      width: (100 / 2) * 1%;
    }
    @media (min-width: 64em) {
      width: (100 / 3) * 1%;
    }
    @media (min-width: 76em) {
      width: (100 / 4) * 1%;
    }

    &--generate {
      min-height: 240px;
      display: flex;
    }
  }
}