.t-overall {
  $nav-width: 240px;

  &__nav {
    padding: $grid-unit;
    background: $color-primary-dark linear-gradient(
                    to left,
                    rgba(0, 0, 0, 0.4) 0,
                    rgba(0, 0, 0, 0) 50%
    );
  }

  &__main {
    padding: $grid-unit;
  }

  &__donate {
    margin-top: $grid-unit;
    text-align: right;
  }

  @media (min-width: 48rem) {
    display: flex;
    flex-direction: row-reverse;

    &__main {
      flex: 1;
    }

    &__nav {
      width: $nav-width;
    }
  }
}