includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    doctrine:
        repositoryClass: App\Data\Database\EntityRepository\AbstractEntityRepository
    ignoreErrors:
        # I need to allow my entity manager decorator to override the default one
        - '#Property Doctrine\\ORM\\EntityRepository<mixed>::\$_em \(Doctrine\\ORM\\EntityManager\) does not accept Doctrine\\ORM\\EntityManagerInterface#'
        # getXRepo() methods are *designed* to make the return type more specific so will not match ObjectRepository
        - '#but returns App\\Data\\Database\\EntityRepository\\AbstractEntityRepository#'
