includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    doctrine:
        repositoryClass: App\Data\Database\EntityRepository\AbstractEntityRepository
    ignoreErrors:
         # Doctrine Types use @psalm-param string|AbstractQuery::HYDRATE_*|null $hydrationMode which we can't replicate with native type
        - '#1\|2\|3\|4\|5\|6#'
