{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="pull--right">
        {% if isSpecial %}
        <form method="post"
              onsubmit="return window.confirm('Are you sure? The data cannot be recovered.');"
        >
            <input type="hidden" name="delete-day" value="1" />
            <button class="button button--danger">
                Revert to normal listing
            </button>
        </form>
        {% else %}
            <div class="message message--info">Normal listing</div>
        {% endif %}
    </div>
    <h1 class="title">
        <span class="title__context">
            <a href="/admin">Calendar</a>
        </span>
        {{ date.format('l jS F Y') }}
    </h1>
    {% if not message %}
        {% include '_partials/message.html.twig' with {'message' : {
            type: 'warning',
            message: 'Remember to save your changes'
        }} %}
    {% endif %}
    <div id="app" data-container="EditDate"></div>
{% endblock %}

{% block footScripts %}
    <script>
      window.HBAContent = {{ pageData | raw }};
    </script>
{% endblock %}
