{% extends "admin/base.html.twig" %}

{% block body %}
    <h1>Key/Value Store</h1>
    <p>
        This page lets you change various values on the website, without needing to
        change any code.
    </p>
    <p><strong>Coming soon...</strong></p>
{% endblock %}
