{% extends "admin/base.html.twig" %}

{% block headScripts %}
<style>
    .button--icon {
        padding: 3px;
        height: 32px;
        width: 32px;
    }
    .button--icon svg {
        width: 24px;
        height: 24px;
    }
</style>
{% endblock %}

{% block body %}
    <h1>Pages</h1>
    <div id="app" data-container="PagesList"></div>
{% endblock %}

{% block footScripts %}
    <script>
        window.HBAContent = {{ pageData | raw }};
    </script>
{% endblock %}
