{% extends "admin/base.html.twig" %}

{% block body %}
    <h1>Shows</h1>
    <div id="app" data-container="ShowsList"></div>
{% endblock %}

{% block footScripts %}
    <script>
        window.HBAContent = {{ pageData | raw }};
    </script>
{% endblock %}
