{% extends "admin/base.html.twig" %}

{% block body %}
    <h1>Technical Information</h1>
    <p>
        Coming shortly.
        For now, see the <a href="https://www.sohba.org/admin/guide/technical.php">old page</a>
    </p>
{% endblock %}
