.list--unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list--inline {
  @extend .list--unstyled;
  > li {
    display: inline-block;
  }
}

.list--boxed {
  @extend .list--unstyled;
  > li {
    margin-top: $grid-unit;
    border: solid 1px $color-grey-lightest;
  }
}

.list--textual {
  list-style: square;
  > li {
    margin: $grid-unit/2 0;
  }
}