// restore proper margins to semantic objects
.text--prose {
  p, ul, h1, h2, h3, h4, h5, h6, table {
    // when part of prose, elements get their spacing back
    margin-bottom: $grid-unit;

  }
  li {
    padding-left: $grid-unit;
  }
  a {
    font-weight: bold;
  }

  img {
    display: block;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  img[style*="float:left"] {
    margin-right: 16px;
  }

  img[style*="float:right"] {
    margin-left: 16px;
  }
}

.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}