{% extends "base.html.twig" %}

{% block title %}Programmes - {% endblock %}

{% block body %}
    <h1>All Regular Programmes</h1>
    {% for letter, letterGroup in letterGroups %}
        <h2>{{ letter }}</h2>
        <ol class="list--textual">
            {% for programme in letterGroup %}
                <li>
                    <a href="{{ programme.url }}">
                        {{ programme.title }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% endfor %}
{% endblock %}
