{% extends "base.html.twig" %}

{% block body %}
    <h1>LIST OF SHOWS</h1>
    <ul>
        {% for programme in programmes %}
            <li>{{ programme.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
