.masthead {
  background: $color-masthead-background;
  color: $color-masthead-text;
  display: flex;
  align-items: center;

  @media (min-width: 48rem) {
    background: $color-masthead-background url('/design/header-bg.png') top right no-repeat;
  }

  &__text {
    @extend .b;
    flex: 1;
    padding: $grid-unit;
    line-height: 1;
    &:link, &:visited, &:hover, &:active {
      color: $color-masthead-text;
    }
  }

  &__menu-link {
    display: block;
    width: $grid-unit * 2;
    height: $grid-unit * 2;
    fill: $color-masthead-text;
    margin: $grid-unit;

    @media (min-width: 48rem) {
      display: none;
    }
  }
}
