.rich-text {
  border: solid 1px $color-grey-mid;
  border-radius: 4px;

  .public-DraftStyleDefault-block {
    margin: 0;
  }

  &__toolbar {
    margin-bottom: 0;
    border-bottom: solid 1px $color-grey-mid;
  }
  &__editor {
    @extend .text--prose;
    display: block;
    width: 100%;
    padding: ($grid-unit / 2);
    min-height: 400px;
  }
}