.selector {
  display: flex;

  &__arrow {
    width: 108px;
    padding: $grid-unit;
    color: $color-grey-lightest;
    align-self: center;
  }

  &__from,
  &__to,
  &__main,
  &__source {
    flex: 1;
  }

  &__source {
    max-width: 40%;
  }

  &__list {
    @extend .list--unstyled;
    &--limited {
      height: 400px;
      overflow-y: auto;
    }
  }

  &__item {
    margin: 0 0 $grid-unit / 4;
    padding: ($grid-unit / 4) ($grid-unit / 2);
    display: flex;
    align-items: center;
    &:nth-child(2n + 1):not(.selector__item--plain) {
      background: $color-grey-lightest;
    }
  }
  &__item-title {
    flex: 1;
    &--label {
      margin-left: $grid-unit;
    }
  }
}
