.selector {
  display: flex;
  flex-wrap: wrap;

  &__arrow {
    padding: $grid-unit;
    color: $color-grey-lightest;
    align-self: center;
    display: none;
    @media (min-width: 64em) {
      width: 108px;
      display: block;
    }
  }

  &__from,
  &__to,
  &__main,
  &__source {
    width: 100%;
    @media (min-width: 64em) {
      width: auto;
      flex: 1;
    }
  }

  @media (min-width: 64em) {
    &__source {
      max-width: 40%;
    }
  }

  &__list {
    @extend .list--unstyled;
    &--limited {
      height: 400px;
      overflow-y: auto;
    }
  }

  &__item {
    margin: 0 0 $grid-unit / 4;
    padding: ($grid-unit / 4) ($grid-unit / 2);
    display: flex;
    align-items: center;
    &:nth-child(2n + 1):not(.selector__item--plain) {
      background: $color-grey-lightest;
    }
  }
  &__item-title {
    flex: 1;
    &--label {
      margin-left: $grid-unit;
    }
  }
}
