.calendar {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 0 $grid-unit 0;
  vertical-align: top;

  &__table {
    width: 100%;

    caption {
      padding: $grid-unit/2;
      background: $color-grey-lightest;
      margin-bottom: $grid-unit / 2;
      position: relative;
    }

    thead, tbody {
      th, td {
        width: (100% / 7);
      }

      th,
      a {
        padding: $grid-unit/4;
      }
      abbr {
        text-decoration: none;
      }
      a {
        display: block;
        &:hover,
        &:active {
          background: $color-hover;
          color: $color-text;
        }
      }
    }
  }

  &__action {
    position: absolute;
    display: inline-block;
    width: 24px;
    top: $grid-unit / 2;
    left: $grid-unit / 2;
    &--after {
      left: auto;
      right: $grid-unit / 2;
    }
  }

  &__day--highlight {
    background: $color-grey-lightest;
    font-weight: bold;
  }
}
