.form {
  $root: &;

  &__label-row, &__row {
    display: block;
    margin-bottom: $grid-unit;
  }

  &__label-row {
    > #{$root}__input {
      margin-top: $grid-unit / 2;
    }
  }

  &__label {
    margin-bottom: $grid-unit / 2;
  }

  &__row {
    &--inline {
      display: flex;
      margin-bottom: 0;
      > #{$root}__input {
        flex: 1;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: $grid-unit / 2;
    border-radius: 4px;
    border: solid 1px $color-grey-mid;

    &--compact {
      padding: ($grid-unit / 4) ($grid-unit / 2);
    }

    &--textarea {
      height: 200px;
    }

    &[type="checkbox"] {
      width: auto;
      display: inline-block;
      margin-right: $grid-unit;
    }
  }
}
