.form {
  label {
    display: block;
    margin-bottom: $grid-unit;
  }

  input, textarea {
    display: block;
    margin-top: $grid-unit / 2;
    width: 100%;
    padding: $grid-unit / 2;
    border-radius: 4px;
    max-width: 600px;
    border: solid 1px $color-grey-mid;
  }

  textarea {
    height: 200px;
  }
}
