.listen-live {
  &__external {
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    svg {
      display: inline-block;
      height: 24px;
      width: 24px;
      path {
        fill: #fff;
      }
    }
  }
  &__audio {
    margin: $grid-unit 0;
    width: 100%;
  }
}