@keyframes marquee {
  0%   { 
  transform: translateX(100%); 		
  }
  100% { 
  transform: translateX(-110%); 
  }
 }

.listen-live {
  &__external {
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    svg {
      display: inline-block;
      height: 24px;
      width: 24px;
      path {
        fill: #fff;
      }
    }
  }
  &__audio {
    margin: $grid-unit 0;
    width: 100%;
  }
  @media (prefers-reduced-motion: no-preference) {
    &__now {
      overflow: hidden;
      white-space: nowrap;
      > p {
        will-change: transform;
        animation: marquee 9s linear infinite;
      }
    }
  }
}