.listen-live {
  &__link {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:active, &:focus {
      color: #fff;
    }
  }
  &__icon {
    margin-top: 2px;
    display: block;
    height: 32px;
    width: 32px;
    margin-right: $grid-unit / 2;
  }
}