.now-on {
  background: $color-primary-dark;
  border-bottom: solid 1px $color-black;
  color: $color-white;
  padding: $grid-unit / 2 $grid-unit;
  text-align: right;

  &__broadcast {
    margin-left: $grid-unit;
    display: inline-block;
  }

  a {
    color: $color-primary-light;
    &:hover, &:active {
      color: $color-hover;
    }
  }
}