{% extends "base.html.twig" %}

{% block title %}Outside Broadcasts - {% endblock %}

{% block body %}
    <div class="text--prose">
        <h1>Outside Broadcasts</h1>
        [[CONTENT TO COME FROM KEY/VALUE STORE]
    </div>

    <div>
        [[LIST OF UPCOMING OUTSIDE BROADCASTS]]
    </div>
{% endblock %}