{% extends "base.html.twig" %}

{% block title %}Outside Broadcasts - {% endblock %}

{% block body %}
    <div class="text--prose">
        <h1>Outside Broadcasts</h1>
        <p>
            Southampton Hospital Radio are proud to not only bring live and recorded
            broadcasts from in and around the local area to the Hospitals, but we also
            provide a public address service for various events throughout the year.
        </p>
        <p>
            Below are the events that we are planning to cover soon.
        </p>
    </div>
    
    <h2>Upcoming Broadcasts</h2>
    {% include '_partials/events-list.html.twig' with {'broadcasts': broadcasts} %}
{% endblock %}