{% extends "base.html.twig" %}

{% block title %}The People - {% endblock %}

{% block body %}
    <div class="text--prose">
        <h1>The People</h1>
        [[CONTENT TO COME FROM KEY/VALUE STORE]
    </div>

    <div>
        <h2>Executive Committee</h2>
        <ul class="person-list">
            {% for person in committee %}
                <li>{% include '_presenters/person.html.twig' with {'person': person} %}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>More of our members</h2>
        <ul class="person-list person-list--small">
            {% for person in members %}
                <li>{% include '_presenters/person.html.twig' with {'person': person} %}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}