{% extends "base.html.twig" %}

{% block title %}The People - {% endblock %}

{% block body %}
    <div class="text--prose">
        <h1>The People</h1>
        [[CONTENT TO COME FROM KEY/VALUE STORE]
    </div>

    <div>
        [[EXECUTIVE COMMITTEEE]]
    </div>

    <div>
        [[OTHER PEOPLE]]
    </div>
{% endblock %}