{% extends "base.html.twig" %}

{% block title %}The People - {% endblock %}

{% block body %}
    <div class="text--prose">
        <h1>The People</h1>
        <p>
            The committee is elected by the members at the Annual General Meeting in
            March each year and meets on the third Tuesday of each month. The below
            committee was elected in March 2017 and the time they spend in meetings
            is only a small part of the time they each devote to the running of the
            radio service. Most of them also produce and present their own radio programme.
        </p>
    </div>

    <div>
        <h2>Executive Committee</h2>
        <ul class="person-list">
            {% for person in committee %}
                <li>{% include '_presenters/person.html.twig' with {'person': person} %}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>More of our members</h2>
        <ul class="person-list person-list--small">
            {% for person in members %}
                <li>{% include '_presenters/person.html.twig' with {'person': person} %}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}