{% extends "base.html.twig" %}

{% block title %}Requests - {% endblock %}

{% block headScripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
    <div class="text--prose">
        <h1>{{ prose.title }}</h1>

        {% include '_partials/message.html.twig' with {'message' : message} %}

        {{ prose.htmlContent|raw }}
    </div>

    <div>
        <h2>Make a request</h2>
        <form method="post" class="form">
            <label class="form__label-row">Patient's name:
                <input class="form__input" type="text" name="name" required>
            </label>
            <label class="form__label-row">Hospital and ward:
                <input class="form__input" type="text" name="hospital">
            </label>
            <label class="form__label-row">Song Request (full title, artist or genre):
                <input class="form__input" type="text" name="request">
            </label>
            <label class="form__label-row">Message:
                <textarea class="form__input form__input--textarea" name="message"></textarea>
            </label>
            <div class="g-recaptcha unit" data-sitekey="6LfgECgTAAAAANMguAPgvP9pP1htaVGepJoZgNGq"></div>
            <div><button type="submit" class="button">Send Request</button></div>
        </form>
    </div>
{% endblock %}