{% extends "base.html.twig" %}

{% block title %}Requests - {% endblock %}

{% block headScripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
    <div class="text--prose">
        <h1>Requests</h1>

        {% if sent %}
            <p class="message message--success">
                Thank you. Your request was sent successfully. Keep listening.
            </p>
        {% endif %}
        {% if fail %}
            <p class="message message--error">
                {{ fail }}
            </p>
        {% endif %}

        <p>
            <strong>Get a record played on air for someone in hospital.</strong> Each night we broadcast 'Requestline,'
            the show where the audience can get what they want played. Your request could be:
        </p>
        <ul>
            <li>
                a single record to be played on the programme. Give us the artist and title and we'll do our best
                to play it. You may suggest an alternative in case we can't find it
            </li>
            <li>
                a song from your favourite artist(s)/genre(s) to be played each day you are in hospital.
            </li>
            <li>
                a message to be read out on air.
            </li>
        </ul>
        <p>
            Please remember to give us the name and ward of the patient the request is for.
            However, this is optional. If you would prefer your request at a specific time, please let us know.
        </p>
    </div>

    <div>
        <h2>Make a request</h2>
        <form method="post" class="form">
            <label>Patient's name:
                <input type="text" name="name" required>
            </label>
            <label>Hospital and ward:
                <input type="text" name="hospital">
            </label>
            <label>Song Request (full title, artist or genre):
                <input type="text" name="request">
            </label>
            <label>Message:
                <textarea name="message"></textarea>
            </label>
            <div class="g-recaptcha" data-sitekey="6LfgECgTAAAAANMguAPgvP9pP1htaVGepJoZgNGq"></div>
            <div><button type="submit">Send Request</button></div>
        </form>
    </div>
{% endblock %}