{% extends "base.html.twig" %}

{% block title %}Requests - {% endblock %}

{% block headScripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
    <div class="text--prose">
        <h1>{{ prose.title }}</h1>

        {% if sent %}
            <p class="message message--success">
                Thank you. Your request was sent successfully. Keep listening.
            </p>
        {% endif %}
        {% if fail %}
            <p class="message message--error">
                {{ fail }}
            </p>
        {% endif %}

        {{ prose.htmlContent|raw }}
    </div>

    <div>
        <h2>Make a request</h2>
        <form method="post" class="form">
            <label>Patient's name:
                <input type="text" name="name" required>
            </label>
            <label>Hospital and ward:
                <input type="text" name="hospital">
            </label>
            <label>Song Request (full title, artist or genre):
                <input type="text" name="request">
            </label>
            <label>Message:
                <textarea name="message"></textarea>
            </label>
            <div class="g-recaptcha" data-sitekey="6LfgECgTAAAAANMguAPgvP9pP1htaVGepJoZgNGq"></div>
            <div><button type="submit" class="button">Send Request</button></div>
        </form>
    </div>
{% endblock %}