{% extends "base.html.twig" %}

{% block title %}Sports Coverage - {% endblock %}

{% block body %}
    <div class="text--prose">
        <h1>{{ prose.title }}</h1>
        {{ prose.htmlContent|raw }}
    </div>

    <h2>Upcoming Sports</h2>
    {% include '_partials/events-list.html.twig' with {'broadcasts': broadcasts} %}
{% endblock %}